<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
    <style media="screen">
      .error{
        color:red;
      }
    </style>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <p class="{{message.tags}}">{{message}}</p>
      {% endfor %}
    {% endif %}
    <fieldset>
      <h2>Registration</h2>
      <form action="/register" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name" value=""></p>
        <p>Username: <input type="text" name="user_name" value=""></p>
        <p>Email: <input type="text" name="email" value=""></p>
        <p>Password: <input type="Password" name="pass" value=""></p>
        <p>Confirm Password: <input type="Password" name="pass_conf" value=""></p>
        <button type="submit" name="button">Register</button>
      </form>
    </fieldset>
    <h2>Login</h2>
    <fieldset>
      <form action="/login" method="post">
        {% csrf_token %}
        <p>Email: <input type="text" name="email" value=""></p>
        <p>Password: <input type="Password" name="pass" value=""></p>
        <button type="submit" name="button">Login</button>
      </form>
    </fieldset>
  </body>
</html>
