<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Destination</title>
  </head>
  <body>
    <a href="/home">Home</a>
    <a href="/logout">Logout</a>
    <h1>{{plan.destination}}</h1>
    <h3>Planned by: {{plan.created_by.name}}</h3>
    <h3>Description: {{plan.plan}}</h3>
    <h3>Travel Date From: {{plan.start_date}}</h3>
    <h3>Travel Date To: {{plan.end_date}}</h3>
    <h2>Other users' joining the trip:</h2>
      {% for user in otherusers %}
        <p>{{user.name}}</p>
      {% endfor %}
  </body>
</html>
