<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>
	<h1>Create a new Xman!</h1>
	<form action="/hero" method="POST">
		Name:<input type="text" name="name">
		<br>
		Power: <input type="text" name="power">
		<br>
		Age: <input type="text" name="age">
		<br>
		<input type="submit" value="Add ">
	</form>
</body>
</html>