<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<p>Xman:<%= heros.name %></p>
		<p>Power: <%= heros.power %></p>
		<p>Age: <%= heros.age %></p>
		<a href="/hero/edit/<%= heros._id %>">Edit</a>
		<a href="/">Home</a>
</body>
</html>