<p> All Users </p>
			<p><table>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ALIAS</th> 
                <th>EMAIL</th>
                <th>DATE</th> <!---  Plan = description  -->
              </tr>
              {% for stuff in user_list %}
              <tr>
              	<td>{{stuff.id}}</td>
              	<td>{{stuff.name}}</td>
                <td>{{stuff.alias}}</td>
                <td>...{{stuff.email}}</td>
                <td>{{stuff.date}}</td> 
                
               
              </tr>
              {% endfor %}
              </table>
<br>
<br>
<hr>
          <p>all friends</p>
          <table>
              <tr>
               {% for stuff in friend_list %}
                <th>friend id </th>
                <th>friend name</th>
                <th> user NAME</th>
                 <th> user id</th>
               <!---  Plan = description  -->
              </tr>
             
              <tr>
                <td>{{stuff.id}}</td>
                <td>{{stuff.users.name}}</td>
                <td>{{stuff.users.id}}</td>

                
                </tr> 
                {% endfor %}
            </table>
            
	