<!DOCTYPE html>
<html>
<head>
	<title>This is your friends dashboard</title>
</head>
<body>
<a href="/logout">Logout</a>
<h1>Hello, {{request.session.theuser}}!</h1>

<h2>Here is the list of your friends:</h2>
      <table>
              <tr>
                <th>Alias</th>
                <th>Action</th>
                <th>user Id</th> 
               
              </tr>
              {% for stuff in friend_list %}
              <tr>
                <td>{{stuff.users.alias}}</td>
                <td><a href="/show_user/{{stuff.users.id}}">Veiw Profile</a>
                  <a href="/remove/{{stuff.id}}">Remove Friend</a>
                </td>
                <td>{{stuff.id}}</td>
               
           
              </tr>
              {% endfor %}
              </table>



<br>




<h2>Here is the list of NOT your friends:</h2>
			<table>
              <tr>
                <th>Alias</th>
                <th>Action</th>
                <th>user Id</th> 
               
              </tr>
              {% for stuff in user_list %}
              <tr>
              	<td>{{stuff.alias}}</td>
              	<td><a href="/add/{{stuff.id}}">Add Friend</a></td>
                <td>{{stuff.id}}</td>
               
            
              </tr>
              {% endfor %}
              </table>


	

</body>
</html>