<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8">

<title>flask counter</title>
</head>
<body>
<div id="container">
    <div class="top">

		<h1> Welcome To the Great Number Game.  </h1>
		<h2> I am Thinking of a number between 1 and 100</h2>
		<h3> Take a guess! </h3>
	</div>	

	<div id="play_area">
	{% if win == 'yes'%}
		<div class='winning'>
			<p> you win </p>
			<form class="guess" action='/guess' method='post'>
			<button type='submit' name='guess'>Play Again!</button>
			</form>
		</div>

	{% elif win == 'high' %}
		<div class="high">
			<p> Too High </p>
		</div>	

	{% elif win == 'low' %}
		<div class="low">
			<p> Too Low</p>
		</div>
	{% endif %}		
	</div>

	<div class='button'>
	{% if win != 'yes' %}
		 <form action="/play" method="POST">
            <input type="text" name="num" value="">
            <button type="submit" name="button">Play!</button>
          </form>
    {% endif %}   
    </div>
   </div>    	
</body>
</html>