<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action='/book_view' method='POST'>
	Book Title<input type="text" name="title"><br><br>
	<h3>Author</h3>
	 Choose for list: <select name="author">
		 <option value="phil">Phil</option>
		  <option value="jen">Jenny</option>
		  <option value="bill">Bill</option>
	</select><br>
	Or add a new Athor: <input type="text" name="new_author"><br><br>
	Review <br><textarea rows="4" cols="50" name="comment">Enter comment Dude!</textarea><br>
	Rating <select name="rating">
		 <option value="one">1</option>
		  <option value="two">2</option>
		  <option value="three">3</option>
		  <option value="four">4</option>
		  <option value="five">5</option>
	</select><br>
	{% csrf_token %}	
	<p>{{request.session.name}}</p>
	
	<input type="submit" value="Submit">
</body>
