<!DOCTYPE html>
<html>
<head>
	<title> this is where you add a book and review.</title>
</head>
<body>
<a href="/books">Cancel book add and go back to main books page.</a><br><br>
<form action='/send_book' method='POST'>
	Book Title:<input type="text" name="title"><br><br>
	<h3>Author</h3>
	 Choose for list: <select name="author">
		 <option value="phil">Phil</option>
		  <option value="jen">Jenny</option>
		  <option value="bill">Bill</option>
	</select><br>
	Or add a new Athor: <input type="text" name="new_author"><br><br>
	Review <br><textarea rows="4" cols="50" name="review">Enter comment Dude!</textarea><br>
	Rating <select name="rating">
		 <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
	</select><br>
	{% csrf_token %}	
	<p>Your session name:{{request.session.name}}</p>
	
 {% if messages %}
	<p>{% for stuff in messages %}</p>
				{{stuff}} 
			<p> {% endfor %}</p>
			{% endif %}	


	<input type="submit" value="Submit">
</body>
